<div class="container">
<h1>Contacto</h1>

<div id="texto" #textos>
	<p appResaltado >
		Esta es la pagina de contacto, puedes enviarnos cualquier duda
	</p>
</div>

Tamaño del slider en pixels:
<input type="number" name="slider" #slider="ngModel" [(ngModel)]="widthSlider"/>
<div class="btn">
	<button (click)="cargarSlider()">Cargar slider</button>
	<button (click)="resetearSlider()">Resetear slider</button>
</div>

<div *ngIf="anchuraToSlider">
	<slider [anchura]="anchuraToSlider"
			[etiquetas]="captions"
			(conseguirAutor)="getAutor($event)"
	></slider>
	{{autor.nombre + ":"+" " + autor.website}}
</div>
</div>